@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

[data-view-transition] {
  view-transition-name: attr(data-view-transition);
}


@view-transition {
  navigation: auto;
}

::view-transition-old, 
::view-transition-new {
  animation-duration: 400ms;
  animation-timing-function: ease;
}

::view-transition-old(*) {
  animation-name: fade-out;
  transform: scale(1);
}
::view-transition-new(*) {
  animation-name: fade-in;
  transform: scale(1.02);
}

@keyframes fade-out {
  from { opacity: 1; transform: scale(1); }
  to { opacity: 0; transform: scale(0.98); }
}

@keyframes fade-in {
  from { opacity: 0; transform: scale(1.02); }
  to { opacity: 1; transform: scale(1); }
}

:root {
  
/* font-family: 'Inter', sans-serif; */
  font-family: "IBM Plex Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-boton-azul: #007EFF;
  --color-boton:	#FFFFFF;

    /* Colores principales */
  --color-primary: #007EFF;
  --color-secondary: #C8B0E8; /* Lavanda medio */
  --color-accent: #FFC700;   /* Amarillo dorado */

  /* Colores violetas */
  --violet-light: #E3D5F3;
  --violet-medium: #C8B0E8;
  --violet-dark: #7E5AB6;

  /* Tonos azules */
  --blue-bright: #288CFA;
  --blue-dark: #0F3D66;

  /* Grises */
  --gray-light: #F0F2F5;
  --gray-medium: #E0E0E0;
  --gray-dark: #333333;

  /* Textos y fondo */
  --text-color: #1D1D1D;
  --background-color: #FFFFFF;

  --color-pagado: #4CAF50;     /* Verde suave, tipo "éxito" */
  --color-pendiente: #f5c430;  /* Amarillo vibrante, tipo "advertencia" */

  --background-dark: #250455;
  --background-light: #410599;

  --background-card: #1b0045;
  --background-buttons: #6817de;
  --color-icons: #8335fc;
  --color-title: #f5e2ff;
  --color-icons-white: #f1ebf6;
  --dark-color-title: #6f6b75;


}

*{
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



/* Perfil */


.Profile-section::after {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  background: radial-gradient(circle, rgb(121, 14, 209) 0%, transparent 70%);
  top: 100px;
  left: 200px;
  filter: blur(100px);
  z-index: 1;
}

.Profile-section::before {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  background: radial-gradient(circle, rgb(33, 170, 250) 0%, transparent 70%);
  top: -100px;
  left: -300px;
  filter: blur(100px);
  z-index: 1;
}

.Saludo_Profile{
  color: white;
}

.Gastos-incluye_Profile{
  max-height: 85%;
  padding: 0 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Gastos-incluye_Profile ul{
  border-radius: 20px;
  padding: 5px;
  max-height: 100%;
  overflow-y: scroll;
  /* position: relative; */
  box-shadow: 0px 0px 15px rgba(0, 0, 0, .5);
}


.Gastos-incluye_Profile > h2{
  color: var(--text-color);
  font-size: 1em;
  margin-block: 10px;
  padding-left: 20px; /* from search position*/
  flex: 0 0 5%;
  
}

/* GASTO - PAGE */
.Gasto-section {
  display: flex;
  place-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(90deg, var(--background-dark) 0%, var(--background-light) 100%);
  position: relative;
  padding-top: 20px;
}



/* CARD SIMPLE */

.bg-component-childs{
  border-radius: 13px;
  background-color: #c9c4f780;
  padding: 10px;
}


.Card-extended_cardSimple{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .3em;
  position: relative;
  z-index: 1000;
  width: 100%;
  min-height: calc(100vh - 6em);
}

/* para los mensajes al editar */

.Card-extended_cardSimple > span{
  display: block;
  padding: 5px 10px;
  color: var(--gray-light);
  font-style: italic;
  font-weight: lighter;
}


.Card-extended_cardSimple > div >  header{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--gray-dark);
  padding-block: 7px;
  margin-bottom: 20px;
  color: var(--gray-light);
  padding: 20px;

}

.header-container_cardSimple{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;

}

.categoria_cardSimple, .details_cardSimple{
  display: flex;
  align-items: center;
  gap: .5em;
}

.titulo_cardSimple{
  display: block;
  text-align: start;
  font-size: 1.7em;
  color: var(--gray-light);
  opacity: .9;
}

.gastoDetails_container_cardSimple{
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 20px;
  padding-top: 30px;
  background-color: var(--background-color);
  border-radius: 20px 20px 0 0 ; 
  min-height: 74vh;
}

.bg-component_container_cardSimple{
  position: relative;
  z-index: 1000;
}

.bg-component_container_cardSimple > h4{
  position: absolute;
  top: -17px;
  left: 7px;
  padding: 3px 10px;
  border-radius: 7px;
  background-color: var(--background-dark);
  color: var(--gray-light);
  font-size: .8em;
  font-weight: 500;
}

.descripcion_cardSimple{
  text-align: start;
  max-height: 300px;
  overflow-y: scroll;
}

/* Aplica al body o a un contenedor específico */
.descripcion_cardSimple {
  overflow-y: auto;
  scrollbar-width: thin;           /* Firefox */
  scrollbar-color: #ccc transparent; /* Firefox */
}

/* Webkit (Chrome, Edge, Safari) */
.descripcion_cardSimple::-webkit-scrollbar {
  width: 6px;
}

.descripcion_cardSimple::-webkit-scrollbar-track {
  background: transparent;
}

.descripcion_cardSimple::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.descripcion_cardSimple::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

.gastoDetails_cardSimple{
  display: flex;
  align-items: center;  
  justify-content: space-between;
}

/* Cuando hay un solo hijo, que ocupe todo */
.gastoDetails_cardSimple > .detail_gasto:only-child {
  flex: 1;
}

/* Cuando hay más de uno, cada hijo ocupa la mitad */
.gastoDetails_cardSimple > .detail_gasto {
  font-size: 1.2em;
  flex: 0 0 49%;
}

.se-divide_cardSimple{
  display: block;
  text-align: start;
  padding-left: 10px;
}

.payers-container_cardSimple{
  padding-top: 15px;
  display: flex;
  gap: .2em;
}

.payers-container_cardSimple > li {
  padding: 5px 10px;
  background-color: rgba(125, 118, 202, 0.253);
  border-radius: 7px;
}

.creadoPor_cardSimple{
  display: flex;
  flex-direction: column;
  place-content: center;
  text-align: center;
}

.creadoPor-texto_cardSimple{
  font-style: italic;
}


.buttons_cardSimple{
  display: flex;
  gap:1em;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.updateGasto_buttons{
  margin-top: 0px;
}


.buttons_cardSimple > button {
  font-size: 1.2em;
  border: none;
  border-radius: 7px;
  padding: 10px 17px;
  background-color: var(--background-buttons);
  color: var(--gray-light);
  cursor: pointer;
  transition: background-color .2s, color .2s, scale .2s;
}

.buttons_cardSimple > button:hover {
  background-color: var(--color-icons);
  color: var(--gray-light);
  scale: 1.05;
}

.historial-actualizaciones_cardSimple header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.historial-actualizaciones_cardSimple button{
  background-color: transparent;
  border: none;
  color: var(--gray-dark);
  font-size: 1.2em;
  padding: 10px 0px;
  cursor: pointer;  
}

.Card_historial-actualizaciones{
  padding: 15px 10px ;
  background-color: var(--background-light);
  color: var(--gray-light);
  margin-bottom: 10px;
  border-radius: 7px;

}

.Card_historial-actualizaciones > span{
 font-style: italic;
 opacity: .3;
 margin-top: 10px;
 display: block;
}

.Content-Card_historial-actualizaciones{
  display: flex;
  flex-direction: column;
  gap: .5em;
}


.Content-Card_historial-actualizaciones ul{
  display: flex;
  flex-direction: column;

}

.normal_historial-actualizaciones, .descripcion_historial-actualizaciones{
  display: flex;
  gap: .5em;
  color: var(--gray-dark);
  color: var(--gray-medium);
}

.descripcion_historial-actualizaciones{
  flex-direction: column;
}




/* END CARD SIMPLE */
/* SHORT CARD */

.Card-short_cardSimple{
  display: block;
  color: var(--text-color);
  border-radius: 15px;
  padding: 10px;
  margin: auto;
  margin-bottom: 20px;
  /* position: relative; */
  /* z-index: 1000; */
}

.Card-short_cardSimple header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Card-short_cardSimple-bg-green{
  background: linear-gradient(90deg,rgb(76, 175, 175) 0%, rgb(170, 235, 231) 100%);

}
.Card-short_cardSimple-bg-yellow{
  background: linear-gradient(90deg,rgb(158, 90, 247) 0%, rgb(175, 177, 255) 100%);
}

.Card-short-data_cardSimple{
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 5em;
}

.Card-short-data_cardSimple h3{
  font-size: 1.6em;
  font-weight: 800;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 0 0 55%;
}

.gasto-Card-short-data_cardSimple{
  flex: 0 0 35%;
  text-align: end;
  font-style: italic;

}

.gasto-Card-short-data_cardSimple h4{
  font-size: 1.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gasto-Card-short-data_cardSimple p{
  color: rgba(0, 0, 0, .5);
}

.Card-short_cardSimple footer{
  color: rgba(0, 0, 0, .5);
  font-style: italic;
  
}

/* FORM GASTO */

.createGasto-container{
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.createGasto-container header, .volver-header{
  display: flex;
  height: 3em;
  gap: 1em;
  justify-content: flex-start;
  width: 95%;
  padding: 10px;
  align-items: center;
  background-color: var(--background-color);
  border-radius: 20px;
}


.createGasto-container header button, .volver-header button{
  display: grid;
  place-content: center;
  height: 3em;
  width: 3em;
  border-radius: 50%;
  border: none;
  background-color: var(--background-buttons);
  color: white;
}

.Form-createGasto-title{
  font-size: 1.5em;
  color: var(--gray-light);  
  color: var(--background-buttons);
}

.Form-createGasto{
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: .5em;
  padding: 15px;
  padding-bottom: 20px;
  border-radius: 20px;
  color: var(--gray-light);
  background: linear-gradient(0deg, var(--background-dark) 0%, var(--background-light) 100%);
  box-shadow: 0 0 15px rgba(0, 0, 0, .5);
}

.Form-createGasto > div{
  display: flex;
  flex-direction: column;
  gap: .2em;
}

.Form-createGasto input, .Form-createGasto textarea {
  padding: 10px;
  border-radius: 7px;
  outline: none;
}

.Form-createGasto input:focus,.Form-createGasto textarea:focus  {
  outline: none;
  border: none;
  background-color: var(--gray-medium);
}

.Form-createGasto textarea{
  resize: none;          
  overflow: auto;        
  height: 100px;         
  max-height: 100px; 
  width:100% ;

}

.Form-createGasto button{
  padding: 15px;
  border: none;
  border-radius: 15px;
  font-size: 1em;
  font-weight: bold;
  color: var(--background-buttons);
}

/* select */

.seDivide-select_CreateGasto {
  appearance: none; 
  background-color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 10px 40px 10px 15px;
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
  color: #333;
  cursor: pointer;
  position: relative;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg width='14' height='10' viewBox='0 0 14 10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000' d='M1 1l6 6 6-6'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 14px 10px;
  transition: border-color 0.3s ease;
}

.select-estilizado:focus {
  outline: none;
  border-color: #0d6efd;
  box-shadow: 0 0 0 2px rgba(13, 110, 253, 0.2);
}

.seDivide-container_CreateGasto{
  display: flex;
  flex-wrap: wrap;
  gap: .5em;
  margin-bottom: 20px;
}

.seDivide_CreateGasto-input{
  width: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
}

.seDivide_CreateGasto{
  display: flex;
  padding: 5px 10px;
  border-radius: 7px;
  border: 1px solid var(--gray-light);
  cursor: pointer;

}

.label-activo {
  background-color: var(--bg-boton-azul);
}

.seDivide_CreateGasto span{
  width: 100%;
  text-align: center;
}

/* HOME PAGE */

.Home-section{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #F5C430;
  background: linear-gradient(90deg,var(--background-dark) 0%, var(--background-light) 100%);
  /* overflow-y: hidden; */
}

.createGastoStatus{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .3);
  backdrop-filter: blur(5px);
  top: 0;
  left: 0;
  z-index: 900;
}

.top_Home-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-boton);
  flex: 0 0 25%;
}

.header_Home-section{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px 30px;
}

.header_Home-section > span{
  font-size: 1.5em;
}

.saludo_Home-section{
  color: var(--color-title);
  text-align: center;
}

.saludo_Home-section h3{
  margin-bottom: 10px;
  font-weight: 500;
}

.Gastos-container{
  background-color: var(--background-color);
  border-radius: 30px 30px 0 0 ;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70vh;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 10px;
}

.menu_Home-section{
  background-color: var(--background-color);
  width: 90%;
  padding: 8px 0;
  display: flex;
  gap: .5em;
  justify-content: center;
  border-radius: 20px;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 15px rgba(0, 0, 0, .5);
  grid-row: 1/2;
}

.open-form_Form-Gasto, .open-filters_Gastos-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .5em;
  width: 3.5em;
  height: 3em;

  border-radius: 8px;
  background-color: white;
  border: 1px solid transparent;
  font-size: 1.1em;
  font-weight: bold;
  color: var(--color-icons);
  cursor: pointer;
}

.open-form_Form-Gasto-02{
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
  background-color: var(--background-buttons);
  color: var(--gray-light);
  font-size: 1em;
  cursor: pointer;
  transition: scale .2s, opacity .2s;
}

.open-form_Form-Gasto-02:hover{
  scale: 1.05;
  opacity: .9;
}

.open-form_Form-Gasto > span, .open-filters_Gastos-container > span{
  font-size: .6em;
  color: var(--gray-dark);
}
.open-form_Form-Gasto:hover, .open-filters_Gastos-container:hover {
  border: none;
  box-shadow: inset -5px -5px 15px rgba(0, 0, 0, .07);
}
.open-form_Form-Gasto:focus,
.open-form_Form-Gasto:focus-visible,
.open-filters_Gastos-container:focus,
.open-filters_Gastos-container:focus-visible{
  box-shadow: inset -5px -5px 15px rgba(0, 0, 0, .07);

  /* border-left: 1px solid #1a004521; */
}

.form-filters-search_Home-section{
  position: absolute;
  top: 35px;
  width: 90%;
  display: flex;
  gap: .2em;
  left: 50%;
  transform: translateX(-50%);
}

.form-filters-search_Home-section > input{
  all: unset;
  padding: 5px 5px 5px 35px;
  border-radius: 12px;
  border: 2px solid transparent;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, .088);
  transition: border .3s ease-in-out;
  background-color: var(--color-boton);
  width: 100%;
}

.form-filters-search_Home-section > label{
  font-size: 1.3em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-icons);
  position: absolute;
  left: 7px;
  top: -2px;
}

.Pagination-Gastos-incluye_Profile{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .7em;
  margin-top: 10px;

  background-color: var(--background-buttons);
  border-radius: 20px;
  padding: 10px;
  width: 10em;
  color: white;
}

.Gastos-incluye_Profile ::-webkit-scrollbar{
  width: 2px;
}

.Pagination-Gastos-incluye_Profile button{
  border: none;
  background-color: transparent;
  color: white;
  font-size: 1.2em;
  height: 1.5em;
  width: 1.5em;
  display: grid;
  place-content: center;
}

.Pagination-Gastos-incluye_Profile button:nth-child(3){
  transform: rotate(180deg);
}

/* sin gastos */


.Gastos-message{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 40px;
}

.Gastos-message p{
  font-size: 1.1em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
